@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.home{
    font-family: "Open Sans", sans-serif;
    background-image: url('Pictures/Casalteste.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 1%;
    background-image: linear-gradient(to right, #ff589b, #ff3586);    
}

.logo {
    margin-left: 10px;
}

.nav_links li, .nav_links li a, button, .nav_p {
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li:nth-child(1) {
    padding: 0 20px 0 35px;
}

.nav_links li a:hover {
    color: #0088a9; 
}

.nav_p{
    font-size: 30px;

}

.btn1 {
    background-color: #fcfcfc;
    color: #000000e1;
    width: 140px;
    height: 55px;
    border: 3px #fcfcfc solid;
    border-radius: 80px;
    transition: background-color 1s, border 2s;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.btn1:hover {
    background-color: #fff;
    color: #000;
    border: 3px #fff solid;
    cursor: pointer;
}

.btn2 {
    background-image: linear-gradient(to right, #ff589b, #ff3586);
    color: #ffffffee;
    width: 200px;
    height: 70px;
    border: 3px;
    border-image: linear-gradient(to right, #ff589b, #ff3586);
    border-radius: 50px;
    transition: background-color 2s, border 2s;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    text-align: center;
}

.btn2:hover {
    background-color: #ffc1db;
    color: #fff;
    border: 3px #ffc1db solid;
    cursor: pointer;
}

.tprin {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
    font-size: 4vw; /* Font-size responsivo */
    -webkit-text-stroke: 0.4px black;
    text-align: center;
}

@media (max-width: 1200px) {
    .tprin {
        font-size: 4vw;
    }
}

@media (max-width: 992px) {
    .tprin {
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    .tprin {
        font-size: 3vw;
    }
}

@media (max-width: 576px) {
    .tprin {
        font-size: 3vw;
    }
}

.janela-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000075;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    width: 25%;
    min-width: 450px;
    min-height: 200px;
    background-color: #f3f3f3e5;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to right, #ff589b, #ff3586);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir {
    display: flex;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirmodal 0.5s;
}

.alogin {
    text-decoration: none;
    color: #0088a9;
}

.email input {
    border-radius: 15px;
    border: #ff3586;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #fff;
    color: #000;
    margin-top: 20px;
}

.senha input {
    border-radius: 15px;
    border: #ff589b;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #fff;
    color: #000;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    margin-top: 15px;
}

.entrar p {
    color: #000;
    margin-top: 15px;
}

.corlogin {
    color: #000;
    margin-top: -25px;
}
