@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.container{
    box-sizing: border-box;
    display: flex;
}

.side{
    min-width: 400px;
    height: 200px;
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid #e1e1e1;
}

/* Estilização da parte header/Meu perfil */
.side .header{
    background: linear-gradient(262deg, #ff7854, #fd2670);
    width: 100%;
    height: 90px;
    box-shadow: 0 1px 8px 0 rgba( 0, 20, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.side .header .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba( 0, 20, 20, 0.2);
}

.side .header .title {
    padding: 0 10px;
    color: #fff;
    font-size: 27px;
}

/*estilização da parte do menu*/
.side .menu ul {
    display: flex;
    padding: 0 20px;
}

.side .menu ul li {
    list-style: none;
    margin: 0 10px;
    font-weight: 750;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.btn{
    background-color: transparent;
    border: none;
    outline: transparent;
    font-size: 16px;
    font-weight: 750;
    letter-spacing: 0.5px;
}

.btn:hover{
    font-size: 20px;
    border-bottom: 5px solid #fd5068;
    cursor: pointer;
}

.btn:focus {
    border-bottom: 5px solid #fd5068;
}

/* Estilização das mensagens*/
.side .messages {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.2 box-shadow;
}

.side .messages .avatar img {
   width: 70px;
   height: 70px;
   border-radius: 70px;
   border-radius: 70px;
   border: 2.3px solid #000;
}

.side .messages .user {
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 0.5;
    font-size: 18px;
}

.side .messages .text{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-weight: 350;
    font-size: 15px;
    opacity: 0.8;
}

.side .messages:hover{
    box-shadow: 0 0 15px 0 rgba( 43, 78, 78, 0.1);
    border-right: 5px solid #fd5068;
}

/*Aqui é a parte de botão + caixa de perfil/entrar */
.test-profile {
    list-style: none;
}

.profile{
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.profile > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profiledropdown {
    position: absolute;
    bottom: 86%;
    left: 2%;
    background-color:white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0,0.4);
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15seg ease-in-out;
}

.test-profile.active .profiledropdown{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.profiledropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;

}

.profiledropdown a:hover {
  background-color: #d3d3d3d5;
    
} 

.profiledropdown a i {
    margin-right: 12px;
    font-size: 17px;

}
