/* buton entrar*/
.btn1{
    background-color: #fcfcfc;
    color: #000000e1;
    width: 140px;
    height: 55px;
    border: 3px #fcfcfc solid;
    border-radius: 80px;
    transition: background-color 1s;
    transition: boder 1s;
    position: absolute;
    top: 4.6%;
    left: 95.7%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 22px;
    text-align: center;
}
.btn1:hover{
    background-color: #fff;
    color: #000;
    border: 3px #fff solid;
    cursor: pointer;

}
/* buton criar conta */
.btn2{
    background-color: #ffa5c9;
    color: #ffffffee;
    width: 200px;
    height: 70px;
    border: 3px #ffa5c9 solid;
    border-radius: 50px;
    transition: background-color 2s;
    transition: boder 2s;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 28px;
    text-align: center;
}
.btn2:hover{
    background-color: #ffc1db;
    color: #fff;
    border: 3px #ffc1db solid;
    cursor: pointer;
    
    

}
/* texto principal */
.tprin{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    -webkit-text-stroke: 0.4px black;
    /*text-shadow: 0px 2px 4px black;*/
}