/* button entrar*/
.btn1{
    background-color: #fcfcfc;
    color: #000000e1;
    width: 140px;
    height: 55px;
    border: 3px #fcfcfc solid;
    border-radius: 80px;
    transition: background-color 1s;
    transition: boder 1s;
    position: absolute;
    top: 4.6%;
    left: 95.7%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 22px;
    text-align: center;
}
.btn1:hover{
    background-color: #fff;
    color: #000;
    border: 3px #fff solid;
    cursor: pointer;

}
/* button criar conta */
.btn2{
    background-image: linear-gradient(to right, #ffa5c9, #ff6ca7);
    color: #ffffffee;
    width: 200px;
    height: 70px;
    border: 3px;
    border-image: linear-gradient(to right, #ffa5c9, #ff6ca7);
    border-radius: 50px;
    transition: background-color 2s;
    transition: boder 2s;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
    font-size: 28px;
    text-align: center;
}
.btn2:hover{
    background-color: #ffc1db;
    color: #fff;
    border: 3px #ffc1db solid;
    cursor: pointer;
}
/* texto principal */
.tprin{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 80px;
    -webkit-text-stroke: 0.4px black;
    /*text-shadow: 0px 2px 4px black;*/
}
.tnav {
    position: absolute;
    top: 4.8%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: x-large;
}
.tnav a{
    color: #fff;
    text-decoration: none;
    margin: 0 1.1rem;
}
.tnav a:hover{
    color:rgb(34, 146, 209);
    text-decoration: underline;
}

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #00000075;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.modal{
    width: 60%;
    min-width: 450px;
    min-width: 200px;
    background-color: #ffffff8f;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

}

.janela-modal.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal{
    animation: abrirmodal 0.5s;
}